*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.traffic_container{
    height: 50%;
    width: 50%;
    background-color: #81d1ef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
}

.taffic_system{
    height: 70%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.btn{
    height: 80%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.t-btn{
    height: 35px;
    width: 60px;
    border: none;
    border-radius: 10px;
    background-color: #1d1c3f;
    color: white;
}

.outer_layer{
    border-radius: 30px;
    background-color: #1d1c3f;
    height: 80%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.light_color{
    background-color: rgb(73, 78, 102);
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

p{
    font-size: 35px;
    font-weight: bolder;
}